.data__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.data-input__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 45%;
}

.data-input__wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 10px 0;

    label {
        align-self: center;
        margin-right: 10px;
    }

    input {
        width: 70%;
    }
}

.data-input-checkbox__wrapper {
    display: flex;
    align-content: center;
    margin: 10px 0;

    label {
        align-self: center;
        margin-right: 10px;
    }
}

.data-input-colorpicker__wrapper {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin: 10px 0;

    label {
        align-self: center;
        margin-right: 10px;
    }
}

.data-output__container {
    width: 45%;

    pre {
        overflow: hidden;
    }
}

#color {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
}
