body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #FEFEFE;
    font-family: sans-serif;
    overflow-x: hidden;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #585858;
}

.app__wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
